.h1 {
	display: $flex;
	justify-content: center;
	background-color: green;
	color: white;
}
.h2 {
	background-color: green;
	color: white;
}
footer {
	font-family: 'Lobster', cursive;
}
body {
	font-family: 'Ubuntu', sans-serif;
}
