$bgNav: limegreen;
$bgMain: white;
$bgBody: url(../assets/img/fondotrebol.jpg);
$borderR: 20px; 
$ani: linear-gradient(to top, darkgreen, limegreen, darkcyan);
$flex: flex;
$flexjc: center;
$redes: 20px double black; 

