<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords"
    content="blog recetas panaderia pasteleria medialunas de manteca pastafrola alfajores de maicena dulce salado ingredientes instrucciones trevol verde irish baker irish bakers">
  <meta name="description"
    content="Panaderia pasteleria de la mejor calidad en Argentina. Blog con recetas ricas y falices de hacer.">
  <title>Blog</title>
  <!--AGREGO TIPOGRAFIA -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

  <!--AGREGO TIPOGRAFIA 2-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">

  <!--LOGO-->
  <link rel="icon" href="../assets/img/logo.png" type="image/x-icon">

  <!-- AGREGO ANIMACIONES -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- LINKEO BOOTSTRAP-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <!-- LINKEO CSS NATIVO-->
  <link rel="stylesheet" href="../css/estilo.css">
  <!-- FIN LINKEO CSS NATIVO-->
</head>

<body>
  <!-- ENCABEZADO-->
  <header class="cotainer-fluid">
    <!-- MENU PRINCIPAL-->
    <div class="row gradi">
      <div class="col-lg-12 col-12 ">
        <nav class="navbar navbar-expand-lg navbar-light bg-color">
          <a class="navbar-brand" href="../index.html">
            <img src="../assets/img/logo.png" alt="logo irish bakers" class="img-fluid logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- DIV FINAL-->
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
              <li class="nav-item active">
                <a class="nav-link" href="nosotros.html">Nosotros <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- FIN ENCABEZADO-->

  <!-- INICIO CONTENIDO-->
  <main class="container-fluid marginTop-5">
    <div class="row">
      <div class="col-lg-12 col-12 marginBo-4 h2">
        <h2>RECETAS</h2>
      </div>
    </div>
    <!-- RECETA 1-->
    <div class="row text-center marginBo-8">
      <div class="col-lg-12 col-12" data-aos="flip-left">
        <img src="../assets/img/producto14.JPG" alt="medialunas" class="img-fluid img_blog">
      </div>
    </div>
    <div class="row text-center align-items-center">
      <div class="col-lg-6 col-12" data-aos="fade-right">
        <h3>Medialunas de Manteca:</h3>
        <p>Ingredientes:
          350 gramos harina de trigo 0000
          150 gramos Maizena
          225 mililitros leche
          25 gramos levadura fresca
          1 huevo
          90 gramos azúcar
          1 cucharada miel
          1 cucharadita(s) sal
          200 gramos manteca
          esencia de vainilla</p>
        <p>Para el almíbar:
          1 taza azúcar.
          Agua.</p>
      </div>
      <div class="col-lg-6 col-12" data-aos="fade-left">
        <p>Instrucciones:
          En un bowl tamizar la harina con la Maizena y la sal, hacer un hueco en el centro y colocar el azúcar, la
          levadura disuelta en un poco de leche tibia, el huevo, la miel y la esencia de vainilla.

          Con los dedos, integrar de a poco los ingredientes empezando por el centro.

          Agregar la leche y seguir integrando, volcar todo sobre la mesada y amasar durante 4 minutos hasta obtener una
          masa totalmente homogénea.
          Una vez que salieron las medialunas del horno, pincelarlas con el almíbar y servir.</p>
        <p>Para el hojaldre:
          Con la punta de los dedos mezclar la manteca a temperatura ambiente con 2 cucharadas de harina.

          Estirar la masa anterior sobre la mesada (medio centímetro de espesor) formando un rectángulo, con la ayuda de
          una espátula esparcir toda la mezcla de la manteca sobre el centro de la masa estirada.

          Tomar el extremo izquierdo de la masa y llevarlo hacia el centro de manera que cubra la manteca.

          Hacer lo mismo con el extremo derecho y llevar a la heladera por 40 minutos.

          Pasado ese tiempo sacar de la heladera y estirar con un palo de amasar hasta formar un rectángulo, repetir el
          doblés del paso anterior y regresar a la heladera por otros 40 minutos.

          Este proceso debe hacerse 4 veces en total. Una vez que hayan cumplido los 4 fríos de la heladera, estirar la
          masa completamente y cortar triángulos.

          Enrollarlos desde la base hacia la punta y llevarlos a una placa enmantecada y enharinada, en ese momento
          aplastar los extremos y darles forma curva de medialuna.

          Cubrirlas y dejarlas levar hasta que dupliquen su tamaño. Una vez que leudaron, pintarlas con huevo batido y
          llevarlas a horno moderado por aproximadamente 20 o 25 minutos.
        </p>
        <p> Para el almíbar:
          Volcar el azúcar en una olla y cubrirlo con agua, llevar a fuego moderado hasta que se disuelva el azúcar y se
          espese el almíbar.

          Revolver para evitar que se queme.
        </p>
      </div>
    </div>
    <!-- FIN Receta 1-->
    <!-- RECETA 2-->
    <div class="row text-center marginBo-8">
      <div class="col-lg-12 col-12" data-aos="flip-right">
        <img src="../assets/img/producto16.JPG" alt="pastafrola" class="img-fluid img_blog">
      </div>
    </div>
    <div class="row text-center align-items-center">
      <div class="col-lg-6 col-12" data-aos="fade-right">
        <h3>Pastafrola:</h3>
        <p>Ingredientes
          1/2 taza de Maizena
          2 tazas de harina de trigo 0000
          1 cucharadita de polvo de hornear
          3/4 de taza de azúcar
          3 yemas
          3 cucharadas de leche descremada o entera opcional
          150 gramos de margarina
          350 gramos de dulce de membrillo
          1 yema para pintar</p>
      </div>
      <div class="col-lg-6 col-12" data-aos="fade-left">
        <p>Instrucciones:
          Mezcla y tamiza la Maizena junto a la harina y el polvo de hornear, dispone esta preparación sobre la mesada
          en forma de corona.

          Agrega en centro de la corona las yemas, el azúcar y la margarina cortada en cubitos.

          Mezcla estos ingredientes con la ayuda de una espátula de cocina o las manos hasta conformar una masa lisa y
          suave.

          Si la masa quedase demasiado seca agrega las cucharadas de leche como opcional. Deja descansar la masa tapada
          con papel de cocina por 30 minutos en heladera.

          Estira la masa con la ayuda de un palo de amasar y forra un molde de tarta de 24 cm. enmantecado y enharinado
          previamente.

          Corta en cubitos y pisa el dulce con un tenedor o pisa papas, podes agregar un chorrito de agua caliente para
          ayudarte.

          Rellenar el molde de tarta y ayúdate con una cuchara mojada en agua tibia para dejar el dulce bien esparcido y
          liso.

          Ahora sí, podes decorar con tiritas de masa sobrante la superficie.

          Para terminar, pinta con yema de huevo batida y cocina en horno moderado por 30 a 40 minutos.</p>
      </div>
    </div>
    <!-- FIN Receta 2-->
    <!-- RECETA 3-->
    <div class="row text-center marginBo-8">
      <div class="col-lg-12 col-12" data-aos="flip-up">
        <img src="../assets/img/producto11.JPG" alt="alfajores de maicena" class="img-fluid img_blog">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-6 col-12" data-aos="fade-right">
        <h3>Alfajores de Maicena:</h3>
        <p>Ingredientes:
          200 gramos de premezcla para panificados sin tacc
          300 gramos Maizena
          1/2 cucharadita bicarbonato de sodio
          2 cucharadita(s) polvo para hornear
          200 gramos manteca
          150 gramos azúcar
          3 yemas
          1 cucharada esencia de vainilla
          1 cucharadita ralladura de limón
          1/4 kilogramo helado de dulce de leche
          c/n coco rallado</p>
      </div>
      <div class="col-lg-6 col-12" data-aos="fade-left">
        <p>Instrucciones:
          Tamizar la Maizena®, la harina, el bicarbonato y el polvo para hornear.

          En un bowl, batir la manteca con azúcar. Agregar las yemas de a una, mezclando bien cada vez.

          Al mismo bowl incorporar poco a poco los ingredientes secos ya tamizados (harina, Maizena®, bicarbonato y
          polvo para hornear). Incorporar la esencia de vainilla y la ralladura de limón y mezclar bien hasta formar una
          masa homogénea.

          Estirar la masa (sin amasarla) hasta que quede de 1/2 cm de espesor sobre una mesa espolvoreada con harina.
          Cortar con moldes en forma circular.

          Colocar en una placa limpia y cocinar en horno moderado durante 15 minutos. Una vez que las tapas estén
          cocidas dejarlas enfriar.

          Formar los alfajores, uniéndolos de a dos tapas con abundante helado de dulce de leche en el medio.

          Pasar por el coco rallado y reserva en el congelador.</p>
      </div>
    </div>
    <!-- FIN Receta 3-->
  </main>
  <!-- FIN CONTENIDO-->

  <!-- INICIO FOOTER-->
  <footer class="container-fluid">
    <div class="row align-items-center border gradi">
      <div class="col-lg-4 col-12">
        <h2>Podes contactarnos!</h2>
        <div><img src="https://img.icons8.com/material-outlined/24/000000/google-plus.png" />
          infobakers@gmail.com</div>
        <div><a href="https://goo.gl/maps/4BjUSURUvwiWtm2J6" target="_blank"><img
              src="https://img.icons8.com/material-outlined/24/000000/google-maps.png" /></a>VERSALLES, CABA</div>
        <div><a href="https://api.whatsapp.com/send?phone=+54 9 11 3210-9746" target="_blank"><img
              src="https://img.icons8.com/material-outlined/24/000000/whatsapp--v1.png" /></a>+54 9 11 3210-9746</div>
      </div>
      <div class="col-lg-4 col-12">
        <div><a href="https://www.facebook.com/pages/category/Bakery/irishbakers-115651080226928/" target="_blank"><img
              src="https://img.icons8.com/material-outlined/48/000000/facebook-new.png" /></a>irish.bakers</div>
        <div><a href="https://www.instagram.com/irish.bakers/?hl=es" target="_blank"><img
              src="https://img.icons8.com/material-outlined/48/000000/instagram-new--v1.png" /></a>@irish.bakers</div>
        <div><a href="https://twitter.com/theirishbaker" target="_blank"><img
              src="https://img.icons8.com/material-outlined/48/000000/twitter-squared.png" /></a>@TheIrishBaker</div>
      </div>
      <div class="col-lg-4 col-12">
        <img src="../assets/img/logo.png" alt="logo irish bakers" class="img-fluid logo_foo">
      </div>
    </div>
  </footer>
  <!-- FIN FOOTER-->


  <!-- INICIALIZANDO BOOTSTRAP-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
  <!-- FIN INICIALIZANDO BOOTSTRAP-->
  <!-- INICIALIZO ANIMACIONES -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <!-- FIN INICIALIZO ANIMACIONES -->
</body>

</html>