<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords"
    content="contacto formulario panaderia pasteleria dulce salado mapa trevol verde irish baker irish bakers">
  <meta name="description"
    content="Panaderia pasteleria de la mejor calidad en Argentina. Formulario de opiniones. Contacto. Sucursal.">
  <title>Contacto</title>
  <!--AGREGO TIPOGRAFIA -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  

  <!--AGREGO TIPOGRAFIA 2-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">

  <!--LOGO-->
  <link rel="icon" href="../assets/img/logo.png" type="image/x-icon">

  <!-- AGREGO ANIMACIONES -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- LINKEO BOOTSTRAP-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <!-- LINKEO CSS NATIVO-->
  <link rel="stylesheet" href="../css/estilo.css">
  <!-- FIN LINKEO CSS NATIVO-->
</head>

<body>
  <!-- ENCABEZADO-->
  <div class="grid">
    <header class="header">
      <nav class="gradi">
        <input type="checkbox" id="nav__checkbox" class="nav__checkbox">
        <label for="nav__checkbox" class="nav__toggle">
          <!-- Imagen Menu Hambur -->
          <svg class="menu" viewbox="0 0 448 512" width="100" title="bars">
            <path
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" />
          </svg>
          <!-- Imagen Close -->
          <svg class="close" viewbox="0 0 384 512" width="100" title="times">
            <path
              d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" />
          </svg>
        </label>
        <ul class="nav__menu">
          <li class="menu__logo">
            <a href="../index.html"><img src="../assets/img/logo.png" alt="irish bakers" /></a>
          </li>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="nosotros.html">Nosotros</a></li>
          <li><a href="productos.html">Productos</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- INICIO FORMULARIO-->
      <form action="#" class="marginTop-5 form">
        <!-- INICIO PARA COMPLETAR-->
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="apellido" placeholder="Apellido">
        <div>
          <input type="text" name="email" placeholder="ejemplo@gmail.com">
        </div>
        <!-- FIN Para Completar-->
        <!-- INICIO PARA ELEGIR-->
        <div class="form_texto"> ¿Recomendarias esta pagina?
          <select name="elegir" id="elegir">
            <option value="--">--</option>
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
        <!-- FIN Para Elegir-->
        <div>
          Comenta!
        </div>
        <div>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <!--INICIO TERMINOS Y CONDICIONES-->
        <div>Acepta terminos y Condiciones
          <input type="checkbox" name="aceptar" value="1">
        </div>
        <!-- FIN Terminos y Condiciones-->
        <!-- INICIO BOTONES-->
        <input type="submit" value="Enviar" class="boton_enviar">
        <input type="reset" value="Reset" class="boton_clear">
        <!-- FIN Botones-->
      </form>
      <!-- FIN Formulario-->
      <!-- MAPA SUCURSAL-->
      <iframe class="marginTop-5 marginBo-5 mapa"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.6013486655556!2d-58.46303188505191!3d-34.61424086556143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb7cc0845945%3A0x33c10f9c35ecc98a!2sPanader%C3%ADa%20Irish%20Bakers!5e0!3m2!1ses-419!2sar!4v1643938622763!5m2!1ses-419!2sar"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="mapa"></iframe>
      <!-- FIN Mapa Sucursal-->
    </main>
    <footer class="gradi marginTop-7 foo_contac">
      <div>
        <h2>Podes contactarnos!</h2>
        <div><img src="https://img.icons8.com/material-outlined/24/000000/google-plus.png" />
          infobakers@gmail.com</div>
        <div><a href="https://goo.gl/maps/4BjUSURUvwiWtm2J6" target="_blank"><img src="https://img.icons8.com/material-outlined/24/000000/google-maps.png" /></a>VERSALLES, CABA</div>
        <div><a href="https://api.whatsapp.com/send?phone=+54 9 11 3210-9746" target="_blank"><img
              src="https://img.icons8.com/material-outlined/24/000000/whatsapp--v1.png" /></a>+54 9 11 3210-9746</div>
      </div>
      <div>
        <div><a href="https://www.facebook.com/pages/category/Bakery/irishbakers-115651080226928/" target="_blank"><img
              src="https://img.icons8.com/material-outlined/48/000000/facebook-new.png" /></a>irish.bakers</div>
        <div><a href="https://www.instagram.com/irish.bakers/?hl=es" target="_blank"><img
              src="https://img.icons8.com/material-outlined/48/000000/instagram-new--v1.png" /></a>@irish.bakers</div>
        <div><a href="https://twitter.com/theirishbaker" target="_blank"><img
              src="https://img.icons8.com/material-outlined/48/000000/twitter-squared.png" /></a>@TheIrishBaker</div>
      </div>
      <div>
        <img src="../assets/img/logo.png" alt="logo irish bakers" class="img-fluid logo_foo">
      </div>
    </footer>
  </div>
  </footer>
  <!-- FIN FOOTER-->

  <!-- INICIALIZANDO BOOTSTRAP-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
  <!-- FIN INICIALIZANDO BOOTSTRAP-->
  <!-- INICIALIZO ANIMACIONES -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <!-- FIN INICIALIZO ANIMACIONES -->
</body>

</html>