<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords"
    content="panaderia pasteleria dulce salado productos cafe alfajor pan hamburguesa capuccino torta fria copitos tarta de ricota conitos donas irish bakers irish baker trevol verde">
  <meta name="description"
    content="Panaderia pasteleria de la mejor calidad en Argentina. Productos organicos, ricos, buenos">
  <title>Productos</title>
  <!--AGREGO TIPOGRAFIA -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

  <!--AGREGO TIPOGRAFIA 2-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">

  <!--LOGO-->
  <link rel="icon" href="../assets/img/logo.png" type="image/x-icon">

  <!-- AGREGO ANIMACIONES -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- LINKEO BOOTSTRAP-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <!-- LINKEO CSS NATIVO-->
  <link rel="stylesheet" href="../css/estilo.css">
  <!-- FIN LINKEO CSS NATIVO-->
</head>

<body>
  <!-- ENCABEZADO-->
  <header class="cotainer-fluid">
    <!-- MENU PRINCIPAL-->
    <div class="row gradi">
      <div class="col-lg-12 col-12 ">
        <nav class="navbar navbar-expand-lg navbar-light bg-color">
          <a class="navbar-brand" href="../index.html">
            <img src="../assets/img/logo.png" alt="logo irish bakers" class="img-fluid logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- DIV FINAL-->
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
              <li class="nav-item active">
                <a class="nav-link" href="nosotros.html">Nosotros <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- FIN ENCABEZADO-->

  <!-- INICIO CONTENIDO-->
  <main class="container-fluid">
    <!-- PRIMERA PARTE PRODUCTOS-->
    <div class="row text-center marginTop-2 align-items-center d-flex justify-content-around">
      <div class="col-lg-3 col-12 marginTop-3 pro1" data-aos="fade-down-right">
        <img src="../assets/img/producto1.JPG" alt="cafe y alfajor" class="img-fluid img_pro1">
        <h3>CAFE CON ALFAJOR</h3>
      </div>
      <div class="col-lg-3 col-12 pro2 marginTop-3" data-aos="fade-down">
        <img src="../assets/img/producto6.JPG" alt="tarta de ricota" class="img-fluid img_pro1">
        <h3>TARTA DE RICOTA</h3>
      </div>
      <div class="col-lg-3 col-12 marginTop-3 pro1" data-aos="fade-down-left">
        <img src="../assets/img/producto4.JPG" alt="torta fria" class="img-fluid img_pro1">
        <h3>TORTA FRIA</h3>
      </div>
    </div>
    <!-- FIN Primera P Productos-->
    <!-- SEGUNDA PARTE PRODUCTOS-->
    <div class="row text-center align-items-center d-flex justify-content-around">
      <div class="col-lg-3 col-12 pro1 marginTop-5 marginBo-6" data-aos="fade-up-right">
        <img src="../assets/img/producto5.JPG" alt="copitos" class="img-fluid img_pro1">
        <h3>COPITOS</h3>
      </div>
      <div class="col-lg-3 col-12 pro2 marginTop-5 marginBo-6" data-aos="fade-up">
        <img src="../assets/img/producto7.JPG" alt="conitos" class="img-fluid img_proM">
        <h3>CONITOS</h3>
      </div>
      <div class="col-lg-3 col-12 pro1 marginTop-5 marginBo-6" data-aos="fade-up-left">
        <img src="../assets/img/producto12.JPG" alt="dona" class="img-fluid img_proM">
        <h3>DONAS</h3>
      </div>
    </div>
    <!-- FIN Segunda P Productos-->
  </main>
  <!-- FIN CONTENIDO-->

  <!-- INICIO FOOTER-->
  <footer class="container-fluid">
    <div class="row align-items-center border gradi">
      <div class="col-lg-4 col-12">
        <h2>Podes contactarnos!</h2>
        <div><img src="https://img.icons8.com/material-outlined/24/000000/google-plus.png" />
          infobakers@gmail.com</div>
        <div><a href="https://goo.gl/maps/4BjUSURUvwiWtm2J6" target="_blank"><img
              src="https://img.icons8.com/material-outlined/24/000000/google-maps.png" /></a>VERSALLES, CABA</div>
        <div><a href="https://api.whatsapp.com/send?phone=+54 9 11 3210-9746" target="_blank"><img
              src="https://img.icons8.com/material-outlined/24/000000/whatsapp--v1.png" /></a>+54 9 11 3210-9746</div>
      </div>
      <div class="col-lg-4 col-12">
        <div><a href="https://www.facebook.com/pages/category/Bakery/irishbakers-115651080226928/" target="_blank"><img
              src="https://img.icons8.com/material-outlined/48/000000/facebook-new.png" /></a>irish.bakers</div>
        <div><a href="https://www.instagram.com/irish.bakers/?hl=es" target="_blank"><img
              src="https://img.icons8.com/material-outlined/48/000000/instagram-new--v1.png" /></a>@irish.bakers</div>
        <div><a href="https://twitter.com/theirishbaker" target="_blank"><img
              src="https://img.icons8.com/material-outlined/48/000000/twitter-squared.png" /></a>@TheIrishBaker</div>
      </div>
      <div class="col-lg-4 col-12">
        <img src="../assets/img/logo.png" alt="logo irish bakers" class="img-fluid logo_foo">
      </div>
    </div>
  </footer>
  <!-- FIN FOOTER-->

  <!-- INICIALIZANDO BOOTSTRAP-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
  <!-- FIN INICIALIZANDO BOOTSTRAP-->
  <!-- INICIALIZO ANIMACIONES -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <!-- FIN INICIALIZO ANIMACIONES -->
</body>

</html>